:root {
  /* gruvbox colors */
  /* 4-bit console notation */
  --col-0000 : #282828;
  --col-1111 : #DDDDD0;
}

* {
  box-sizing : border-box;
}

html, body {
  margin      : 0;
  padding     : 0;
  font-family : monospace;
  font-size   : 1rem; /* Resets odd monospace scaling */
}

body {
  background : var(--col-0000);
  color      : var(--col-1111);
}

#cvs {
  position : absolute;
  left     : 50%;
  top      : 50%;
}
